.event {

  &__item {
    position: relative;
    background-color: white;
    box-shadow: 0 0.4em 1em rgb(0 0 0 / 10%);
    border-radius: .75em;
    flex-basis: 100%;

    a {
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }

    @include respond(mobile) {
      flex-basis: 48%;
    }

    @include respond(tablet) {
      &:hover {
        figure {
          &::after {
            opacity: 0;
            z-index: -1;
          }
        }
      }
    }
  }

  figure {
    margin: 0;
  }

  &__image {
    position: relative;
    display: block;
    height: 0;
    padding-top: 65%;
    margin-bottom: 0 !important;

    @include respond(tablet) {
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .10;
        cursor: pointer;
        border-radius: .75em .75em 0 0;
        transition: all .4s ease-in-out;
        background-color: $color--contrast;
      }
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
      border-radius: .75em .75em 0 0;
    }
  }

  &__description {
    padding: 1em;
  }

  &__title {
    font-size: $font-size--large;
  }

  &__datetime {
    position: absolute;
    top: 1em;
    right: 1em;
    margin: 0;
    padding: 0 .4em;
    border-radius: .25em;
    font-size: $font-size--x-small;
    background-color: $color--nonary;
    z-index: 1;
  }
}
