.has-global-padding > .alignfull {
 margin-top: 0;
}

:where(.wp-block-group.has-background) {
  padding: 3.45em 2.375em;
}

.has-global-padding > .alignfull {

  .wp-block-group {
    padding-right: var(--wp--style--root--padding-right);
    padding-left: var(--wp--style--root--padding-left);

    @include respond(tablet) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
